/Inputs.class
/_1_OstatakDijeljenja.class
/_2_PrviCharNePOnavlja.class
/_3_JumbledString.class
/_4_UpperCaseWords.class
/_5_SviParovi.class
/_6_KolikoProstihBrojeva.class
/_7_LijevaIDesnaStrana.class
/_8_TriUNizu.class
/_9_.class
/_10_PoslednjiKarakter.class
/bin/
